# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
probability-theory-and-mathematical-statistics/Lec_1.pdf
probability-theory-and-mathematical-statistics/Lec_2.pdf
probability-theory-and-mathematical-statistics/Lec_3_1.pdf
probability-theory-and-mathematical-statistics/Lec_3_2.pdf
probability-theory-and-mathematical-statistics/Lec_5.pdf
probability-theory-and-mathematical-statistics/Lec_4_2.pdf
probability-theory-and-mathematical-statistics/Lec_4_1.pdf
probability-theory-and-mathematical-statistics/Lec_6_1.pdf
probability-theory-and-mathematical-statistics/Lec_6_2.pdf
